.depositoFormContainer {
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    width: 50%;
    display: block;
    text-align: center;
    margin: 0 5px;
}
.depositoFormTitule {
    margin: 22px 5px 0px 5px;
}

.theH3 {
    font-family: 'Inter', sans-serif;
    color: rgb(86, 86, 86);
}

.formContainer {
    padding: 20px;
}

.buttonContainer {
    margin-top: 58px;
}

.theButton {
    width: 98%;
}

.theButtonCancelar {
    width: 98%;
    margin-top: 5px;
}