.articleContainer {
    text-align: center;
    padding: 85px 0 120px 0;
    margin-bottom: 75px;
    color: white;
    background: rgb(25,118,210);
background: linear-gradient(47deg, rgba(25,118,210,1) 0%, rgba(79,162,244,1) 34%, rgba(142,236,255,1) 100%);
}