body {
    background-color: rgb(249, 249, 249);
}

.tituloContainer {
    font-family: 'Inter', sans-serif;
    color: rgb(86, 86, 86);
    margin: auto;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.cadastroFormContainer {
    margin: auto;
    margin-top: 45px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    width: 40%;
    padding: 0 0 10px 0;
}

.cadastroForm {
    margin: auto;
    text-align: center;
}

.buttonContainer {
    margin: auto;
    position: relative;
    left: 15px;
    margin: 25px 0 0 0;
}
.cadastrarButton {
    text-align: center;
    width: 95%;
    border-radius: 10px;
}