.tabelaTitulos {
    text-align: center;
}

.tabelaContainer {
    width: 90%;
    margin: auto;
<<<<<<< HEAD
    margin-top: 45px;
    margin-bottom: 4px;
=======
    margin-top: 25px;
    margin-bottom: 45px;
>>>>>>> fad3de1aea2230c9a78b91e4e505328e2f087429
    border-radius: 15px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
}